<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Danh mục sách</title></head>
<body>
<h2>Danh sách danh mục</h2>
<a th:href="@{/admin/categories/add}">➕ Thêm mới</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên danh mục</th>
        <th>Mô tả</th>
         <th>Ảnh nền</th>
          <th>Danh mục con</th>
        <th>Hành động</th>
    </tr>
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.id}"></td>
        <td th:text="${cat.name}"></td>
        <td th:text="${cat.description}"></td>
        <td>
            <img th:if="${cat.image != null}" th:src="@{'/image/cover/' + ${cat.image}}" 
         alt="Ảnh bìa" width="100" style="object-fit: cover; border: 1px solid #ccc;">
        </td>
        <td>
            <ul class="subcategory-list">
                <li th:each="sub : ${cat.subCategories}" th:text="${sub.name}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{'/admin/categories/edit/' + ${cat.id}}">✏️ Sửa</a> |
            <a th:href="@{'/admin/categories/delete/' + ${cat.id}}"
               onclick="return confirm('Bạn có chắc chắn?')">❌ Xóa</a>
        </td>
    </tr>
    <a th:href="@{/admin/dashboard}">🔙 Quay lại</a>
</table>
</body>
</html>
