<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Body</title>

    <th:block th:replace="~{includes/frame :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/index_style.css}">
</head>
<body>
<div th:fragment="body">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <!-- Bắt đầu làm vòng lặp từ cái này -->
            <div class="col" th:each="product : ${products}">
                <div class="card">
                    <a th:href="@{/product/{id}(id=${product.id})}"><img th:src="@{/static/image/demo.jpg}" class="card-img-top" alt="Ném bừa cái ảnh"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}">Tiếng anh cơ bản cho con nít</a></h5>
                        <p class="card-text badge rounded-pill text-bg-light"><a th:href="@{/category/{id}(id=${product.category.id})}" th:text="${product.category.name}">Sách Tiếng Anh</a></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="h5 mb-0" th:text="${product.price} + ' VNĐ'">200.000 VNĐ</span>
                            <button class="btn btn-outline-primary"><i class="fa-solid fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cho đến cái này là kết thúc vòng lặp show toàn bộ sách trong csdl -->
        </div>
    </div>
</div>

<th:block th:replace="~{includes/frame :: scripts}"></th:block>
</body>
</html>