<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body th:fragment="footer">
<div class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Thông tin cửa hàng -->
            <div class="col-md-4">
                <h5>Cửa Hàng Sách</h5>
                <p>Địa chỉ: 175 Tây Sơn, Đống Đa, Hà Nội</p>
                <p>Điện thoại: (0123) 456-789</p>
                <p>Email: aptechbookstore@meomeo.com</p>
            </div>

            <!-- Liên kết nhanh -->
            <div class="col-md-4">
                <h5>Liên Kết Nhanh</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-light text-decoration-none">Trang Chủ</a></li>
                    <li><a th:href="@{/about}" class="text-light text-decoration-none">Giới Thiệu</a></li>
                    <li><a th:href="@{/products}" class="text-light text-decoration-none">Sản Phẩm</a></li>
                    <li><a th:href="@{/contact}" class="text-light text-decoration-none">Liên Hệ</a></li>
                </ul>
            </div>

            <!-- Theo dõi chúng tôi -->
            <div class="col-md-4">
                <h5>Theo Dõi Chúng Tôi</h5>
                <div>
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-0">© 2025 Cửa Hàng Sách. All Rights Reserved.</p>
        </div>
    </div>
</div>
</body>
</html>