<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hanoi Aptech Bookstore</title>
    <!-- Include phần head từ frame.html -->
    <th:block th:replace="~{includes/frame :: head}"></th:block>
</head>
<body>
<!--&lt;!&ndash; Trang header &ndash;&gt;-->
<!--<th:block th:replace="~{partials/header :: header}"></th:block>-->

<!--&lt;!&ndash; Carousel (nếu có) &ndash;&gt;-->
<!--<th:block th:replace="~{partials/carousel :: carousel}"></th:block>-->

<!--&lt;!&ndash; Thân trang &ndash;&gt;-->
<!--<br>-->
<!--<th:block th:replace="~{partials/body :: body}"></th:block>-->
<!--<br>-->

<!--&lt;!&ndash; Trang footer &ndash;&gt;-->
<!--<th:block th:replace="~{partials/footer :: footer}"></th:block>-->
hehe

<!-- Include các script từ frame.html -->
<th:block th:replace="~{includes/frame :: scripts}"></th:block>
</body>
</html>